language: r
cache: packages
sudo: false
before_install: cd subdirectory
install:
  - Rscript -e 'install.packages(c("devtools","roxygen2","testthat"));devtools::install_deps("pkg")'
script:
  - Rscript -e 'devtools::check("pkg")'